@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #FAFAFA;
    font-family: 'Roboto';
}

li{
    list-style-type: none;
}

.header{
    position:fixed;
    color: #FFFFFF; 
    font-weight: 700;
    font-size: 37px;
    width: 100vw;
    padding: 20px 0;
    background-color: #EC362D;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

/* primeira página */

.container{   
    display:flex;
    flex-direction: column;
    align-items: center;
}

.createQuizzBox{
    width: 1051px;
    padding: 20px 0;
    margin-top: 146px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.createQuizzBox > h1{
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    color: #B9B9B9;

}

.createQuizzBox > h2{
    width: 136px;
    padding: 5px;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    color: #EC362D;
}

.quizzesAPI{
    margin-top: 40px;

    display: flex;
    flex-wrap: wrap;
    width: 1151px;
}

.quizzesAPI h1{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;

}

.quizzesAPI > ul{
    display: flex;
    flex-wrap: wrap;
}

.box-quizz-API{
    background-color: blue;
}

.images{
    display: flex;
    flex-direction: column;
}

.images > div{
    width: 340px;
    height: 181px;  
    margin: 0 6px 12px 6px;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}


.filtro-degrade{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;    
}

.filtro-degrade > h4{
    font-size: 19px;
    width: 300px;
    line-height: 22px;
    margin: 0 0 7px 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meusQuizzes ion-icon{
    font-size: 30px;
    color: red;
    margin-left: 10px;
}

.meusQuizzes{
    width: 1151px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
}

.meusQuizzes > h1{
    margin-top: 138px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.meusQuizzes > ul{
    display: flex;
    flex-wrap: wrap;
}



/* segunda página */

.quizzTitle{
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 227px;
    margin-top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.filtro-opacidade{
    background-color: rgba(0, 0, 0, 0.6);    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.filtro-opacidade > h1{
    font-size: 39px;
    width: 1051px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;    

}


.quizzTitle > h1{
    font-size: 39px;
    color: #FFFFFF;    
}

.quizzBox{
    width: 759px;
    height: 676px;
    left: 340px;
    margin-top: 42px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}


.quizzQuestion{
    width: 688.16px;
    height: 137.99px;
    margin: 28px 36px;
}

.quizzQuestion > h1{
    text-align: center;
    padding: 60px 0;
    font-size: 23px;
    font-weight: bold;
    color:#FFFFFF;
}

.quizzBox > ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 740px;
}

.options{
    display: flex;
    flex-direction: column;
}

.options > img{
    width: 330px;
    height: 175px;
    margin-left: 36px;
    margin-top: 20px;
}

.options > h1{
    margin-left: 36px;
    font-size: 20px; 
    font-weight: bold;
    width: 330px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.verde{
    color: #009C22;
}

.vermelho{
    color:#FF4B4B;
}

.opacidade{
    opacity: 0.3;
}

.caixa-resultado{
    width: 759px;
    height: 430px;
    background-color: #FFFFFF;
    margin-top: 44px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    
}   

.porcentagem{
    width: 727px;
    height: 99px;
    background-color: #EC362D;
    margin-top: 18px;
    margin-left: 18px;
    display: flex;
    justify-content: center;   
    align-items: center; 
}

.porcentagem > h1{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;    
}

.img-texto{
    display: flex;
}

.img-resultado{
    width: 364px;
    height: 273px;
    background-color: #009C22;
    margin-top: 18px;
    margin-left: 18px;
}

.img-resultado > img{
    width: 100%;
    height: 100%;
}

.texto-resultado{
    width: 328px;
    height: 250px;
    margin-top: 18px;
    margin-left: 21px;
}

.texto-resultado > h6{
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}

.reiniciar{
    width: 260px;
    height: 52px;
    background: #EC362D;
    border-radius: 15px;
    margin-top: 51px;
    border: none;
}

.reiniciar > h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #FFF5F4;
}

.voltar{
    width: 260px;
    height: 52px;
    background: #EC362D;
    border-radius: 15px;
    margin-top: 16px;
    border: none;
}

.voltar > h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #FFF5F4;
}

/* terceira página */

.pagina-tres > h1{
    margin-top: 140px;
    font-weight: bold;
    font-size: 23px;
}

.startBox{
    width: 600px;
    height: 256px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 27px;
}

.startBox > input{
    width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 21px;
    margin-bottom: -12px;
    margin-left: 16px;
    padding-left: 23px;
    font-size: 19px;
    font-style: italic;
}

::placeholder{
    color: #BABABA;
}

.pagina-tres > h2{
width: 368.86px;
text-align: center;
margin-top: 85px;
padding: 20px;
font-size: 21px;
color: #FFFFFF;
font-weight: 400;
background: #EC362D;
border-radius: 15px;
}

/* quarta página */

.pagina-quatro{
    padding-bottom: 100px;
}

.pagina-quatro > h1{
    margin-top: 140px;
    font-weight: bold;
    font-size: 23px;
}

.createQuestions{
    width: 600px;
    height: 750px;
    margin-top: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;

}

.createQuestions ul{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    
}

.createQuestion input{
    width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 21px;
    margin-bottom: -12px;
    margin-left: 16px;
    padding-left: 23px;
    font-size: 19px;
    font-style: italic;
}

.createQuestion  h3 {
    font-size: 20px;
    margin-top: 37px;
    margin-left: 17px;
    margin-bottom: 10;
    font-weight: bold;
}

.createQuestion  h4{
    font-size: 20px;
    margin-top:60px;
    margin-bottom: -30px;
    font-weight: bold;
    width: 600px;
    padding: 17px ;
    background-color: #FFFFFF;    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box; 
}

.createQuestions h2 {
    margin-left: 80px;
    width: 368.86px;
    text-align: center;
    margin-top: 15px;
    padding: 20px;
    font-size: 21px;
    color: #FFFFFF;
    font-weight: 400;
    background: #EC362D;
    border-radius: 15px;  
}

/* quinta página */

.pagina-cinco h1{
    margin-top: 140px;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 40px;
}

.createLevels{
    width: 600px;
    height: 316px;
    margin-bottom: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.createLevels h3{
    font-size: 20px;
    margin-top: 37px;
    margin-left: 17px;
    margin-bottom: 10;
    font-weight: bold;
}

/* .createLevels ul{
    display: flex;
    flex-direction: column;    
} */

.createLevels input{
    width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 21px;
    margin-bottom: -12px;
    margin-left: 16px;
    padding-left: 23px;
    font-size: 19px;
    font-style: italic;
}

.createLevels h4{
    font-size: 20px;
    margin-bottom: -30px;
    font-weight: bold;
    width: 600px;
    padding: 17px ;
    box-sizing: border-box;   
}

.createLevels h2{
    margin-left: 80px;
    width: 368.86px;
    text-align: center;
    margin-top: 85px;
    padding: 20px;
    font-size: 21px;
    color: #FFFFFF;
    font-weight: 400;
    background: #EC362D;
    border-radius: 15px;        
}

/* sexta página */
.pagina-seis h1{
    margin-top: 140px;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 40px;
}

.pagina-seis h2{
    width: 368.86px;
    text-align: center;
    margin-top: 85px;
    padding: 20px;
    font-size: 21px;
    color: #FFFFFF;
    font-weight: 400;
    background: #EC362D;
    border-radius: 15px;        
}

.pagina-seis h3{
    color: gray;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.quizz-success-image img{
    height: 266px;
    width: 500px;
    border-radius: 5px;
    object-fit: cover;
    display: flex;
    align-items: flex-end;
    background-color: lightblue;

}

  
.quizz-success-text {
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
    color: red;
    padding: 0 0 9px 23px;
    z-index: 3;
    margin-top: -30px;
    z-index: 3;
}

.quizz-success-text h2{
    margin-left: 80px;
    width: 368.86px;
    text-align: center;
    margin-top: 85px;
    padding: 20px;
    font-size: 21px;
    color: #FFFFFF;
    font-weight: 400;
    background: #EC362D;
    border-radius: 15px;        
}

.create{
    width: 600px;
    height: 316px;
    margin-bottom: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}


.invisivel{
    display: none;
}

@media (max-width: 667px){
    .container{
        flex-direction: column;
        flex-wrap: wrap;
    }
}